name: Desktop Assemble

on: [push, pull_request]

jobs:
  assemble-desktop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v3
      - name: Assemble
        run: ./gradlew --no-configuration-cache clean :composeApp:assemble
